@media only screen and (max-width: 400px) {
    * {
        font-size: 13px;
        line-height: 15px;
    }
    
}

.bg-green {
    background-color: rgb(28, 129, 19);
}
* {

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}
.navbar {
    height:7vh;
    background-color: rgb(28, 129, 19);
}
.app {
    max-width: 39rem ;
    width: 100vw;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.wrapper {
    height: 93vh;
    overflow: hidden;
}
.notification {
    height: 5vh;
    width: 100%;
    background-color: rgb(218, 249, 252);
}
.root {
    /* background-color: rgb(142, 233, 233); */
    height: 92vh;
    padding: 2px;
}
.customer-root {
    height: 41vh;
    height: 94vh;
    width: 100%;
    overflow-y: scroll;
    background-color: rgb(223, 223, 223);  
}
.job-root {
    height: 48vh;
    width: 100%;
    background-color: rgb(28, 129, 19);

}

.job-chip {
      
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    display: none;
    width: 90%;
    height: 80vh;
    transition: width 2s;
    overflow-y: auto;
    float: right;
    padding-bottom: 10px;


}
.job-card {
    margin-top: 5px;
    border-radius: 0px;
    
}
